.about_me_section {
  position: absolute;
  width: 1445px;
  height: 517px;
  left: 0px;
  top: 699px;

  background: #f6f6f6;
}
.container {
  width: 100%;
  max-width: 480px;
}

.about_me_title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 46px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 28px;
}

.about_me_text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;

  /* Black */

  color: #070707;
}
